$hover-color: #0085A1;

$border-radius: 8px;

/* General Colors */
$red: #f5927a;
$white: #FFF;
$black: #333333;
$blue: #4155b4;
$purple: #5B507A;
$yellow: #ffd148;
$light-grey: #F9F9F9;
$dark-grey: #555459;